body {
    background-color: #ffffff;
}


/* Texts */
.text__color--primary {
    color: #010224;
}

.text__color--second {
    color: #ffffff;
}

.text__color--third {
    color: #787878;
}

.text__color--fourth {
	color: #1463da;
}
.text__decoration--underline--1463da {
	border-bottom: 1px solid #1463da;
}


/* Button Default */ 
.button__default {
    background-color: #181a6b;
}

.button__default:hover {
    background-color: #3232ff;
}

.button__flat {
    border: 2px solid #181a6b;;
    background-color: transparent;
}


/* Login */


/* Dashboard */
.navbarLeft {
    background-color: #181a6b;
}
