body {
    background-color: #ffffff;
}


/* Texts */
.text__color--primary {
    color: #010224;
}

.text__color--second {
    color: #ffffff;
}

.text__color--third {
    color: #aeaeae;
}

.text__color--fourth {
	color: rgb(20, 99, 218);
}


/* Button Default */ 
.button__default {
    background-color: rgb(24, 26, 107);
}

.button__default:hover {
    background-color: rgb(50, 50, 255);
}


/* Login */



/* Dashboard */
.navbarLeft {
    background-color: rgb(24, 26, 107);
}
