body {
    background-image: url("../../../images/tinypng/image-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

body, 
.container,
.container__panel,
.container__panel__text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    height: 90vh;
    justify-content: flex-start;
}

.container__panel {
    width: 300px;
    height: auto;
    box-shadow: 1px 1px 5px rgba(24, 24, 24, 0.329);
    padding: 60px 10px 60px 10px;
    flex-direction: column;
    border-radius: 15px;
    background-color: #f0f0f0;
}

.container__panel__logo {
    background-image: url("../../../brands/agv.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.container__panel__logo--md {
    width: 100px;
    height: 100px;
}

.container__panel__login {
    width: 80%;
    height: 40px;
    border: none;
    font-size: 1.6em;
    color: rgb(128, 128, 128);
    outline: 0;
    padding: 4px 4px 4px 12px;
    margin-top: 6px;
    margin-bottom: 8px;
    border-radius: 6px;
}

.container__panel__login:focus {
    background-color: #f7f7f7;
}

.container__panel__btn {
    width: 50%;
    height: 40px;
    padding: 8px 2px 8px 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    outline: 0;
    border: none;
    cursor: pointer;
    color: white;
    background-color: rgb(6, 6, 206);
    -webkit-transition: 0.2s ease-in-out; // navegadores webkit, como Safari e Chrome
    -moz-transition: 0.2s ease-in-out; // Firefox
    -o-transition: 0.2s ease-in-out; // Opera
}

.container__panel__btn:hover {
    background-color: rgb(50, 50, 255);
    box-sizing: border-box;
    box-shadow: 5px 5px 5px rgba(24, 24, 24, 0.329);
}

.container__panel__text {
    width: 200px;
    flex-direction: row;
}

a,
p {
    text-decoration: none;
    font-size: 1.4em;
    line-height: 16px;
    margin-bottom: 8px;
}

a {
    color: rgb(20, 99, 218);
}

.container__panel__text__space {
    margin-right: 5px;
}