body {
    background-image: url("../../../images/tinypng/image-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

body, 
.container,
.container__panel,
.container__panel__text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Contianer */
.container {
    width: 80%;
    height: 90vh;
    justify-content: flex-start;
}

/* Panel */
.container__panel {
    width: 300px;
    height: auto;
    box-shadow: 1px 1px 5px rgba(24, 24, 24, 0.329);
    padding: 60px 10px 60px 10px;
    flex-direction: column;
    border-radius: 15px;
    background-color: #f0f0f0;
}

/* Logo */
.container__panel__logo {
    background-image: url("../../../brands/agv.png");
    background-size: contain;
    background-repeat: no-repeat;
}

/* Size Logo */
.container__panel__logo--md {
    width: 100px;
    height: 100px;
}

/* Input - Login / Senha  */
.container__panel__login {
    width: 80%;
    height: 40px;
    border: none;
    color: rgb(128, 128, 128);
    outline: 0;
    padding: 4px 4px 4px 12px;
    margin-top: 6px;
    margin-bottom: 8px;
    border-radius: 6px;
}
.container__panel__login:focus {
    background-color: #f7f7f7;
}

/* === Poperties Texts === */
.text__margin--right {
	margin-right: 5px;
}


/* === Media querie === */
@media screen and (max-width:768px) {

    /* Contianer */
    .container {
        width: 100%;
        justify-content: center;
    }

    .container__panel {
        width: 70%;
       height: 70%;
    }

 }