<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EXD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../../css/base/reset.css" />
    <link rel="stylesheet" type="text/css" href="../../css/fonts/roboto/roboto.css" />
    <link rel="stylesheet" type="text/css" href="../../css/pages/dashboard/dashboard.css" />
    <link rel="stylesheet" type="text/css" href="../../css/pages/dashboard/navbarLeft.css" />
    <link rel="stylesheet" type="text/css" href="../../css/pages/dashboard/navbarTop.css" />
    <link rel="stylesheet" type="text/css" href="../../css/pages/dashboard/content.css" />
    
    <!-- agv-styled -->
    <link rel="stylesheet" type="text/css" href="../../css/agv-styled/text.css" />
    <link rel="stylesheet" type="text/css" href="../../css/agv-styled/button.css" />
    <link rel="stylesheet" type="text/css" href="../../css/agv-styled/input.css" />
    <link rel="stylesheet" type="text/css" href="../../css/agv-styled/theme/blue-orange.css" />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../favicon/favicon-16x16.png">
    <link rel="manifest" href="../../favicon/site.webmanifest">
    <link rel="mask-icon" href="../../favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#f3f3f3">
    <meta name="theme-color" content="#ffffff">

    <!-- JS -->
    <script type="text/javascript" src="../../js/pages/dashboard/dashboard.js"></script>
</head>

<body>

    <!-- Header -->
    <header class="navbarTop">

        <div class="navbarTop__padding">
            <h3>Logo AGV</h3>
        </div>

        <div class="navbatTop__panelRight navbarTop__padding">
            <div class="navbatTop__panelRight__text">
                <h3 class="navbarTop__padding text__color--primary">AGV Logística</h3>
                <h4 class="navbarTop__padding text__color--third">André Luis Martines</h4>
            </div>

            <div class="navbatTop__panelRight__photo"></div>

            <div class="navbatTop__panelRight__arrow" onclick="showBox()">
                <div class="tooltip__arrow"></div>
            </div>

            <div id="tooltip" class="navbatTop__panelRight__box" style="display:none;">
                <div class="navbatTop__panelRight__box_photo">
                    <a class="navbatTop__panelRight__box_photo__edit" href="#">editar</a>
                </div>
                <div class="navbatTop__panelRight__box_text">
                    <h3 class="navbarTop__maarginBottom text__color--primary">André Luis Martines</h3>
                    <h4 class="navbarTop__maarginBottom text__color--primary">Gerente Tecnologia da Informação</h4>
                    <h4 class="navbarTop__maarginBottom text__color--primary">andre.martines@agv.com.br</h4>
                </div>
                <div class="navbatTop__panelRight__box_exit">
                    <h2 class="text__color--primary"><a href="../../../index.html">Sair</a></h2>
                </div>
            </div>
        </div>

    </header>

    <!-- Menu left -->
    <div class="navbarLeft">

        <!-- Search -->
        <div class="navbarLeft__search">
            <input class="text__input--size navbarLeft__search__input" type="text" placeholder="Buscar..."/>
            <img class="navbarLeft__search__icon" src="../../icons/tinypng/search.png"/>
        </div>
        
        <!-- List -->
        <ul class="navbarLeft__list">
            
            <!-- AGV WMS -->
            <div class="navbarLeft__list__container" >
                <li class="navbarLeft__list__container__item" onclick="showWMS()">
                    <a class="navbarLeft__list__container__item" >
                        <div class="navbarLeft__list__container__item__icon__left navbarLeft__list__container__item__icon__left--WMS"></div>
                        <div id="arrow--WMS" class="navbarLeft__list__container__item__icon__right navbarLeft__list__container__item__icon__right--WMS"></div>
                    </a>
                </li>

                <!-- Dropdown -->
                    <ul style="display: none;" id="drop__content--WMS" class="navbarLeft__list__container__dropdown">
                        
                        <li class="navbarLeft__list__container__dropdown__item" >
                            <a class="text__a--size" href="#">Item 1</a>
                        </li>

                        <li class="navbarLeft__list__container__dropdown__item" >
                            <a class="text__a--size" href="#">Item 2</a>
                        </li>

                        <li class="navbarLeft__list__container__dropdown__item" >
                            <a class="text__a--size" href="#">Item 3</a>
                        </li>

                         <li class="navbarLeft__list__container__dropdown__item" >
                            <a class="text__a--size" href="#">Item 4</a>
                        </li>

                         <li class="navbarLeft__list__container__dropdown__item" >
                            <a class="text__a--size" href="#">Item 5</a>
                        </li>

                    </ul>
            </div>

            <!-- Divisor --> 
            <div class="navbarLeft__list__divisor"></div>

            <!-- AGV TMS -->
            <div class="navbarLeft__list__container" >
                <li class="navbarLeft__list__container__item" onclick="showTMS()">
                    <a class="navbarLeft__list__container__item" >
                        <div class="navbarLeft__list__container__item__icon__left navbarLeft__list__container__item__icon__left--TMS"></div>
                        <div id="arrow--TMS" class="navbarLeft__list__container__item__icon__right navbarLeft__list__container__item__icon__right--TMS"></div>
                    </a>
                </li>

                <!-- Dropdown -->
                    <ul style="display: none;" id="drop__content--TMS" class="navbarLeft__list__container__dropdown">
                        
                        <li class="navbarLeft__list__container__dropdown__item" >
                            <a class="text__a--size" href="#">Item 1</a>
                        </li>

                        <li class="navbarLeft__list__container__dropdown__item" >
                            <a class="text__a--size" href="#">Item 2</a>
                        </li>

                        <li class="navbarLeft__list__container__dropdown__item" >
                            <a class="text__a--size" href="#">Item 3</a>
                        </li>

                         <li class="navbarLeft__list__container__dropdown__item" >
                            <a class="text__a--size" href="#">Item 4</a>
                        </li>

                         <li class="navbarLeft__list__container__dropdown__item" >
                            <a class="text__a--size" href="#">Item 5</a>
                        </li>

                    </ul>
            </div>

            <!-- Divisor --> 
            <div class="navbarLeft__list__divisor"></div>

            <!-- AGV Broker -->
            <div class="navbarLeft__list__container" >
                <li class="navbarLeft__list__container__item" onclick="showBroker()">
                    <a class="navbarLeft__list__container__item" >
                        <div class="navbarLeft__list__container__item__icon__left navbarLeft__list__container__item__icon__left--broker"></div>
                        <div id="arrow--broker" class="navbarLeft__list__container__item__icon__right navbarLeft__list__container__item__icon__right--broker"></div>
                    </a>
                </li>

                <!-- Dropdown -->
                    <ul style="display: none;" id="drop__content--broker" class="navbarLeft__list__container__dropdown">
                        
                        <li class="navbarLeft__list__container__dropdown__item" >
                            <a class="text__a--size" href="#">Item 1</a>
                        </li>

                        <li class="navbarLeft__list__container__dropdown__item" >
                            <a class="text__a--size" href="#">Item 2</a>
                        </li>

                        <li class="navbarLeft__list__container__dropdown__item" >
                            <a class="text__a--size" href="#">Item 3</a>
                        </li>

                         <li class="navbarLeft__list__container__dropdown__item" >
                            <a class="text__a--size" href="#">Item 4</a>
                        </li>

                         <li class="navbarLeft__list__container__dropdown__item" >
                            <a class="text__a--size" href="#">Item 5</a>
                        </li>

                    </ul>
            </div>

            <!-- Divisor --> 
            <div class="navbarLeft__list__divisor"></div>

            <!-- AGV Customer -->
            <div class="navbarLeft__list__container" >
                <li class="navbarLeft__list__container__item" onclick="showCustomer()">
                    <a class="navbarLeft__list__container__item" >
                        <div class="navbarLeft__list__container__item__icon__left navbarLeft__list__container__item__icon__left--customer"></div>
                        <div id="arrow--customer" class="navbarLeft__list__container__item__icon__right navbarLeft__list__container__item__icon__right--customer"></div>
                    </a>
                </li>

                <!-- Dropdown -->
                    <ul style="display: none;" id="drop__content--customer" class="navbarLeft__list__container__dropdown">
                        
                        <li class="navbarLeft__list__container__dropdown__item" >
                            <a class="text__a--size" href="#">Item 1</a>
                        </li>

                        <li class="navbarLeft__list__container__dropdown__item" >
                            <a class="text__a--size" href="#">Item 2</a>
                        </li>

                        <li class="navbarLeft__list__container__dropdown__item" >
                            <a class="text__a--size" href="#">Item 3</a>
                        </li>

                         <li class="navbarLeft__list__container__dropdown__item" >
                            <a class="text__a--size" href="#">Item 4</a>
                        </li>

                         <li class="navbarLeft__list__container__dropdown__item" >
                            <a class="text__a--size" href="#">Item 5</a>
                        </li>

                    </ul>
            </div>

            <!-- Divisor --> 
            <div class="navbarLeft__list__divisor"></div>

            <!-- AGV ERP -->
            <div class="navbarLeft__list__container" >
                <li class="navbarLeft__list__container__item" onclick="showERP()">
                    <a class="navbarLeft__list__container__item" >
                        <div class="navbarLeft__list__container__item__icon__left navbarLeft__list__container__item__icon__left--erp"></div>
                        <div id="arrow--erp" class="navbarLeft__list__container__item__icon__right navbarLeft__list__container__item__icon__right--erp"></div>
                    </a>
                </li>

                <!-- Dropdown -->
                    <ul style="display: none;" id="drop__content--erp" class="navbarLeft__list__container__dropdown">
                        
                        <li class="navbarLeft__list__container__dropdown__item" >
                            <a class="text__a--size" href="#">Item 1</a>
                        </li>

                        <li class="navbarLeft__list__container__dropdown__item" >
                            <a class="text__a--size" href="#">Item 2</a>
                        </li>

                        <li class="navbarLeft__list__container__dropdown__item" >
                            <a class="text__a--size" href="#">Item 3</a>
                        </li>

                         <li class="navbarLeft__list__container__dropdown__item" >
                            <a class="text__a--size" href="#">Item 4</a>
                        </li>

                         <li class="navbarLeft__list__container__dropdown__item" >
                            <a class="text__a--size" href="#">Item 5</a>
                        </li>

                    </ul>
            </div>

            <!-- Divisor --> 
            <div class="navbarLeft__list__divisor"></div>

            <!-- AGV Supply -->
            <div class="navbarLeft__list__container" >
                <li class="navbarLeft__list__container__item" onclick="showSupply()">
                    <a class="navbarLeft__list__container__item" >
                        <div class="navbarLeft__list__container__item__icon__left navbarLeft__list__container__item__icon__left--supply"></div>
                        <div id="arrow--supply" class="navbarLeft__list__container__item__icon__right navbarLeft__list__container__item__icon__right--supply"></div>
                    </a>
                </li>

                <!-- Dropdown -->
                    <ul style="display: none;" id="drop__content--supply" class="navbarLeft__list__container__dropdown">
                        
                        <li class="navbarLeft__list__container__dropdown__item" >
                            <a class="text__a--size" href="#">Item 1</a>
                        </li>

                        <li class="navbarLeft__list__container__dropdown__item" onclick="showScreenSearch()">
                            <a class="text__a--size" href="#">Item 2</a>
                        </li>

                        <li class="navbarLeft__list__container__dropdown__item" >
                            <a class="text__a--size" href="#">Item 3</a>
                        </li>

                         <li class="navbarLeft__list__container__dropdown__item" >
                            <a class="text__a--size" href="#">Item 4</a>
                        </li>

                         <li class="navbarLeft__list__container__dropdown__item" >
                            <a class="text__a--size" href="#">Item 5</a>
                        </li>

                    </ul>
            </div>

            <!-- Divisor --> 
            <div class="navbarLeft__list__divisor"></div>

            <!-- AGV Solutions -->
            <div class="navbarLeft__list__container" >
                <li class="navbarLeft__list__container__item" onclick="showSolutions()">
                    <a class="navbarLeft__list__container__item" >
                        <div class="navbarLeft__list__container__item__icon__left navbarLeft__list__container__item__icon__left--solutions"></div>
                        <div id="arrow--solutions" class="navbarLeft__list__container__item__icon__right navbarLeft__list__container__item__icon__right--solutions"></div>
                    </a>
                </li>

                <!-- Dropdown -->
                    <ul style="display: none;" id="drop__content--solutions" class="navbarLeft__list__container__dropdown">
                        
                        <li class="navbarLeft__list__container__dropdown__item" >
                            <a class="text__a--size" href="#">Item 1</a>
                        </li>

                        <li class="navbarLeft__list__container__dropdown__item" >
                            <a class="text__a--size" href="#">Item 2</a>
                        </li>

                        <li class="navbarLeft__list__container__dropdown__item" >
                            <a class="text__a--size" href="#">Item 3</a>
                        </li>

                         <li class="navbarLeft__list__container__dropdown__item" >
                            <a class="text__a--size" href="#">Item 4</a>
                        </li>

                         <li class="navbarLeft__list__container__dropdown__item" >
                            <a class="text__a--size" href="#">Item 5</a>
                        </li>

                    </ul>
            </div>
        </ul>
    </div>

    <section id="content" class="content">
        <iframe class="content__screen" src="./agv-supply/agv-suply.html">
            <p class="p-text-size" >Your browser does not support iframes.</p>
        </iframe>
    </section>

</body>
</html>




<nav class="navbar-default navbar-static-side" role="navigation">
    
    <div class="sidebar-collapse">
        
        <a class="close-canvas-menu"><i class="fa fa-times"></i></a>
            
            <ul class="nav metismenu" id="side-menu">
                
                <li v-for="item in menu">
                    
                    <a :href="item.type == 'G' ? 'javascript:void(0)': item.full_url">
                        <i class="fa fa-th-large"></i>
                        <span class="nav-label">{{item.name}}</span>
                        <span class="fa arrow"></span>
                    </a>

                        <ul class="nav nav-second-level collapse" v-if="item.submenu">
                            <li v-for="subitem in item.submenu">
                            <a :href="subitem.type == 'G' ? 'javascript:void(0)': subitem.full_url">
                                {{subitem.name}}
                                <span class="fa arrow" v-if="subitem.submenu.length != 0"></span>
                            </a>
                                
                                <ul class="nav nav-third-level collapse" v-if="subitem.submenu.length != 0">
                                    <li v-for="subitem2 in subitem.submenu">
                                        <a :href="subitem2.type == 'G' ? 'javascript:void(0)': subitem2.full_url">
                                        {{subitem2.name}}
                                        <span class="fa arrow" v-if="subitem2.submenu.length != 0"></span>
                                        </a>

                                            <ul class="nav nav-third-level collapse" v-if="subitem2.submenu.length != 0">
                                                <li v-for="subitem3 in subitem2.submenu">
                                            <a :href="subitem3.type == 'G' ? 'javascript:void(0)': subitem3.full_url">
                                                {{subitem3.name}}
                                                <span class="fa arrow" v-if="subitem3.submenu.length != 0"></span>
                                            </a>

                                            <ul class="nav nav-third-level collapse" v-if="subitem3.submenu.length != 0">
                                                <li v-for="subitem4 in subitem3.submenu">
                                                    <a :href="subitem4.type == 'G' ? 'javascript:void(0)': subitem4.full_url">
                                                        {{subitem4.name}}
                                                    </a>
                                                        <ul class="nav nav-third-level collapse" v-if="subitem4.submenu.length != 0">
                                                            <li v-for="subitem5 in subitem4.submenu">
                                                                <a :href="subitem5.type == 'G' ? 'javascript:void(0)': subitem5.full_url">
                                                                {{subitem5.name}}
                                                                </a>
                                                                    <ul class="nav nav-third-level collapse" v-if="subitem5.submenu.length != 0">
                                                                        <li v-for="subitem6 in subitem5.submenu">
                                                                            <a :href="subitem6.type == 'G' ? 'javascript:void(0)': subitem6.full_url">
                                                                        {{subitem6.name}}
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

            </ul>

        </div>
    </nav>

