body {
    background-color: #ffffff;
}

/* === Texts === */
/* Color Primary */
.color__text__primary {
    color: #010224;
}
/* Color Second */
.color__text__second {
    color: #ffffff;
}
/* Color Third */
.color__text__third {
    color: #aeaeae;
}


/* === Login === */
/* Login */
.container__panel__btn {
    background-color: rgb(24, 26, 107);
}

.container__panel__btn:hover {
    background-color: rgb(50, 50, 255);
}

.container__panel__text--blue {
    color: rgb(20, 99, 218);
}

/* === Dashboard === */
/* Dashboard */
.navbarLeft {
    background-color: rgb(24, 26, 107);
}
