body {
    background-color: #ffffff;
}

/* === Color Texts === */
.color__text__primary {
    color: #010224;
}
.color__text__second {
    color: #ffffff;
}
.color__text__third {
    color: #aeaeae;
}
.color_text_fourth {
	color: rgb(20, 99, 218);
}

/* === Buttons === */
/* Default */ 
.button {
    background-color: rgb(24, 26, 107);
}
.button:hover {
    background-color: rgb(50, 50, 255);
}

/* === Login === */
/* Login */

/* === Dashboard === */
/* Dashboard */
.navbarLeft {
    background-color: rgb(24, 26, 107);
}
