/* h2, h4 hover */
.container__footer__box__item:hover h4 {
    color: #ffffff;
}
.container__header__item:hover h2 {
    color: #ffffff;
}

.padding__bottom--5px {
    padding-bottom: 5px;
}
.padding__left--10px {
    padding-left: 10px;
}

/* Both */
.container,
.container__header,
.container__header__item,
.container__center,
.container__center__box,
.container__center__grid__item__form,
.container__center__grid__containerButton,
.container__center__dashboard,
.container__center__dashboard__box,
.container__center__dashboard__box__items,
.container__center__dashboard__box__items__top,
.container__center__dashboard__box__items__bottom,
.container__center__dashboard__box__footer,
.container__center__dashboard__box__footer__alignContent,
.container__footer,
.container__footer__box,
.container__footer__box__item,
.container__footer__box__item__text,
.container__footer__box__item--notBorder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Container Header */
.container {
    width: 100%;
    height: 100%;
    justify-content: flex-start;
}

/* Header */
.container__header {
    width: 90%;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-direction: row;
    border-radius: 60px;
    border: 2px solid rgb(24, 26, 107);
}

/* Header - Items */
.container__header__item {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* Header - Items:Hover */
.container__header__item:hover {
    background-color: rgb(24, 26, 107);
}

/* Header - Items - Item Left */
.container__header__item--borderLeft {
    border-radius: 60px 0px 0px 60px;
}

/* Header - Items - Item Center */
.container__header__item--borderCenter {
    border-left: 2px solid rgb(24, 26, 107);
    border-right: 2px solid  rgb(24, 26, 107);
}

/* Header - Items - Item Right */
.container__header__item--borderRight {
    border-radius: 0px 60px 60px 0px;
}

/* Container - Center - Busca Rápida */
.container__center {
    width: 90%;
    height: 50vh;
    align-items: flex-start;
    justify-content: flex-start;
    -webkit-transition: 0.2s ease-in-out; // navegadores webkit, como Safari e Chrome
    -moz-transition: 0.2s ease-in-out; // Firefox
    -o-transition: 0.2s ease-in-out; // Opera
}
/* Box */
.container__center__box {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 2%;
    margin-bottom: 2%;
}
/* Input */
.container__center__box__input {
    width: 60%;
    height: 10px;
    margin-right: 2%;
    border-radius: 10px;
    border: 2px solid rgb(205, 205, 205);
    padding: 10px;
    outline: 0;
    font-size: 1.4em;
    color: rgb(114, 114, 114);
    background-color: #ffffff;
}
/* Button */
.container__center__box__button {
    width: 100px;
    height: auto;
    padding: 10px;
    border-radius: 30px;
    border: none;
    outline: 0;
    background-color: rgb(24, 26, 107);
    color: #ffffff;
    cursor: pointer;
    -webkit-transition: 0.2s ease-in-out; // navegadores webkit, como Safari e Chrome
    -moz-transition: 0.2s ease-in-out; // Firefox
    -o-transition: 0.2s ease-in-out; // Opera
}
.container__center__box__button:hover {
    box-sizing: border-box;
    box-shadow: 5px 5px 5px rgba(24, 24, 24, 0.329);
}

/* Container - Center - Busca Avançada */
.container__center__grid {
    display: none;
    width: 100%;
    height: auto;
}

.container__center__grid__item {
    width: 95%;
    margin: auto;
    height: auto;    
}

.container__center__grid__item__form {
    width: 100%;
    flex-direction: row;
}

.container__center__grid__item__form__box {
    width: 100%;
    height: auto;
}

.container__center__grid__item__form__box__input {
    width: 95%;
    height: 30px;
    border-radius: 5px;
    outline: 0;
    border: 1px solid #727272;
}

.container__center__grid__containerButton {
    width: 95%;
    flex-direction: row;
    justify-content: flex-end;
}

/* Container - Center - Dashboard */
.container__center__dashboard {
    display: none;
    width: 100%;
    height: 70%;
    margin-bottom: 60px;
    justify-content: space-around;
}

.container__center__dashboard__box {
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.container__center__dashboard__box__header {
    height: 60%;
    margin-bottom: 10px;
}

.container__center__dashboard__box__items {
    width: 100%;
    height: 100%;
    margin: 2%;
}

.container__center__dashboard__box__items__top {
    width: 100%;
    height: 100%;
    align-items: flex-start;
    border-radius: 10px 10px 0 0;
    background-color: rgb(24, 26, 107);
}

.container__center__dashboard__box__items__top__icon {
    width: 60px;
    height: 60px;
    position: absolute;
    margin-left: 12%;
    margin-top: -20px;
    background-size: contain;
    background-repeat: no-repeat;
}

.container__center__dashboard__box__items__top__icon--PR {
    background-image: url("../../../../icons/tinypng/pedido-recebido.png");
}

.container__center__dashboard__box__items__top__icon--PP {
    background-image: url("../../../../icons/tinypng/preparacao-pedido.png");
}

.container__center__dashboard__box__items__top__icon--ET {
    background-image: url("../../../../icons/tinypng/em-transito.png");
}

.container__center__dashboard__box__items__top__icon--ER {
    background-image: url("../../../../icons/tinypng/pedido-realizado.png");
}

.container__center__dashboard__box__items__bottom {
    width: 100%;
    height: 60%;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-around;
    border-radius: 0 0 10px 10px;
    background-color: #e1e1e1;
}

.container__center__dashboard__box__items__bottom__span {
    width: 15px;
    height: 15px;
    margin-top: -8px;
    margin-left: 70%;
    position: relative;
    background-image: url("../../../../icons/tinypng/alert.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.container__center__dashboard__box__footer {
    width: 95%;
    height: 90%;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container__center__dashboard__box__footer__items {
    width: 100%;
    height: 100%;
}

.container__center__dashboard__box__footer__items--left {
    padding: 10px;
    border-radius: 10px 0 0 10px;
    background-color: #cdcdcd;
}

.container__center__dashboard__box__footer__items--right {
    padding: 10px;
    border-radius: 0 10px 10px 0;
    background-color: #e1e1e1;
}

.container__center__dashboard__box__footer__alignContent {
    width: 100%;
    height: 90%;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #ffffff;
}

/* Footer */
.container__footer {
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    background-color: rgb(211, 211, 211);
}

/* Box */
.container__footer__box {
    width: 90%;
    height: 90%;
    flex-direction: row;
}

/* Item */
.container__footer__box__item {
    width: 100%;
    height: 80%;
    margin: 2px;
    border-radius: 5px;
    flex-direction: row;
    cursor: pointer;
    border: 1px solid rgb(114, 114, 114);
}
.container__footer__box__item:hover {
    background-color:rgb(114, 114, 114);
}

/* Item not border */
.container__footer__box__item--notBorder {
    width: 90px;
    margin-right: 15px;
    border: 0;
    cursor: default;
}
.container__footer__box__item--notBorder:hover {
    background-color: transparent;
}

/* Container text */
.container__footer__box__item__text {
    align-items: flex-start;
}

/* Both - Icons */
.container__footer__box__item__icon {
    width: 40px;
    height: 40px;
    margin: 2%;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Icons */
.container__footer__box__item__icon--PR {
    background-image: url("../../../../icons/tinypng/pedido-recebido.png");
}
.container__footer__box__item__icon--PP {
    background-image: url("../../../../icons/tinypng/preparacao-pedido.png");
}
.container__footer__box__item__icon--ET {
    background-image: url("../../../../icons/tinypng/em-transito.png");
}
.container__footer__box__item__icon--PRZ {
    background-image: url("../../../../icons/tinypng/pedido-realizado.png");
}





.container {
    display: none;
}

.container__buscaRapida,
.container__buscaRapida__header,
.container__buscaRapida__header__boxText,
.container__buscaRapida__ul__items,
.container__buscaRapida__ul__items__item1,
.container__buscaRapida__ul__items__item2,
.container__buscaRapida__ul__items__item2__boxText,
.container__buscaRapida__header__boxText__labelText,
.container__buscaRapida__ul__items__item2__boxElements,
.container__buscaRapida__ul__items__item2__boxElements__elements,
.container__buscaRapida__ul__items__item2__boxElements__divisor,
.container__buscaRapida__ul__items__item3,
.container__buscaRapida__ul__items__item1__boxText  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container__buscaRapida {
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.container__buscaRapida__header {
    width: 95%;
    height: 80px;
    background-color: #ffffff;
}

.container__buscaRapida__header__boxText {
    width: 170px;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    align-content: space-around;
}

.container__buscaRapida__searching {
    width: 100%;
    height: 50px;
    border-top: 1px solid silver;
    background-color: #ffffff;
}

.container__buscaRapida__ul {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: green;
}

.container__buscaRapida__ul__items {
    width: 100%;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.container__buscaRapida__ul__items--silver {
    background-color: #f0f0f0;
}

.container__buscaRapida__ul__items--white {
    background-color: #ffffff;
}

.container__buscaRapida__ul__items__item1 {
    width: 40%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 10px;
}
.container__buscaRapida__ul__items__item1__boxText {
    justify-content: flex-start;
}

.container__buscaRapida__ul__items__item2 {
    width: 40%;
    height: 100%;
    flex-direction: column;
}

.container__buscaRapida__ul__items__item2__boxText {
    width: 100%;
    height: 30px;
}

.container__buscaRapida__ul__items__item2__boxElements {
    width: 100%;
    height: 80px;
}

.container__buscaRapida__ul__items__item2__boxElements__elements {
    width: 40px;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
}

.container__buscaRapida__ul__items__item2__boxElements__elements__icon {
    width: 40px;
    height: 40px;
    border-radius: 80px;
    border: 1px solid #181a6b;
    background-color: #181a6b;
}

.container__buscaRapida__ul__items__item2__boxElements__divisor {
    width: 40px;
    height: 10px;
    margin-bottom: 33px;
    /*background-color: #181a6b;*/
}

.container__buscaRapida__ul__items__item2__boxElements__divisor__balls {
    width: 8px;
    height: 8px;
    border-radius: 50px;
    margin: .6px;
    background-color: #4a4a4a;
}

.container__buscaRapida__ul__items__item3 {
    width: 20%;
    height: 100%;
}

.container__buscaRapida__ul__items__item3__anexo {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    margin: 4%;
    background-color: #181a6b;
}