/* Busca Rápida */
/*.container {
    display: none;
}

/* Flexbox */
.container__buscaRapida,
.container__buscaRapida__header,
.container__buscaRapida__header__boxButton,
.container__buscaRapida__header__boxText,
.container__buscaRapida__ul__items,
.container__buscaRapida__ul__items__item1,
.container__buscaRapida__ul__items__item2,
.container__buscaRapida__ul__items__item2__boxText,
.container__buscaRapida__header__boxText__labelText,
.container__buscaRapida__ul__items__item2__boxElements,
.container__buscaRapida__ul__items__item2__boxElements__elements,
.container__buscaRapida__ul__items__item2__boxElements__elements__icon,
.container__buscaRapida__ul__items__item2__boxElements__divisor,
.container__buscaRapida__ul__items__item3,
.container__buscaRapida__ul__items__item1__boxText  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container__buscaRapida {
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.container__buscaRapida__header {
    width: 95%;
    height: 80px;
    background-color: #ffffff;
}

.container__buscaRapida__header__boxButton {
    width: 40px;
    height: 40px;
    margin-left: -10px;
}

.container__buscaRapida__header__boxText {
    width: 170px;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    align-content: space-around;
}

.container__buscaRapida__searching {
    width: 100%;
    height: 50px;
    border-top: 1px solid silver;
    background-color: #ffffff;
}


.container__buscaRapida__ul {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.container__buscaRapida__ul__items {
    width: 100%;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.container__buscaRapida__ul__items--silver {
    background-color: #f0f0f0;
}

.container__buscaRapida__ul__items--white {
    background-color: #ffffff;
}

.container__buscaRapida__ul__items__item1 {
    width: 40%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 10px;
}
.container__buscaRapida__ul__items__item1__boxText {
    justify-content: flex-start;
}

.container__buscaRapida__ul__items__item2 {
    width: 40%;
    height: 100%;
    flex-direction: column;
}

.container__buscaRapida__ul__items__item2__boxText {
    width: 100%;
    height: 30px;
}

.container__buscaRapida__ul__items__item2__boxElements {
    width: 100%;
    height: 80px;
}

.container__buscaRapida__ul__items__item2__boxElements__elements {
    width: 40px;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
}

.container__buscaRapida__ul__items__item2__boxElements__elements__icon {
    width: 40px;
    height: 40px;
    border-radius: 80px;
    display: block;
    border: 1px solid #181a6b;
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #181a6b;*/
}

.container__buscaRapida__ul__items__item2__boxElements__elements__icon--PR {
    background-image: url("../../../../icons/tinypng/pedido-recebido.png");
}

.container__buscaRapida__ul__items__item2__boxElements__elements__icon--PP {
    background-image: url("../../../../icons/tinypng/preparacao-pedido.png");
}

.container__buscaRapida__ul__items__item2__boxElements__elements__icon--ET {
    background-image: url("../../../../icons/tinypng/em-transito.png");
}

.container__buscaRapida__ul__items__item2__boxElements__elements__icon--ER {
    background-image: url("../../../../icons/tinypng/entrega-realizada.png");
}

.container__buscaRapida__ul__items__item2__boxElements__divisor {
    width: 40px;
    height: 10px;
    margin-bottom: 33px;
    background-color: #181a6b;*/
}

.container__buscaRapida__ul__items__item2__boxElements__divisor__balls {
    width: 8px;
    height: 8px;
    border-radius: 50px;
    margin: .6px;
    /*background-color: #4a4a4a;*/
}

.container__buscaRapida__ul__items__item3 {
    width: 20%;
    height: 100%;
}

.container__buscaRapida__ul__items__item3__anexo {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    margin: 4%;
    background-color: #181a6b;
}