/* Base Default */
.button__default {
	padding: 8px 2px 8px 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 100px;
    outline: 0;
    border: none;
    cursor: pointer;
    -webkit-transition: 0.2s ease-in-out; // navegadores webkit, como Safari e Chrome
    -moz-transition: 0.2s ease-in-out; // Firefox
    -o-transition: 0.2s ease-in-out; // Opera
}

.button__default:hover {
    box-sizing: border-box;
    box-shadow: 5px 5px 5px rgba(24, 24, 24, 0.329);
}

.button__flat {
    padding: 8px 2px 8px 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 100px;
    outline: 0;
    cursor: pointer;
}

/* Small */
.button__small {
	width: 100px;
    height: 25px;
}

/* Medium */
.button__medium {
    width: 180px;
    height: 45px;
}

.button__default__arrow--left {
    width: 35px;
    height: 35px;
    position: relative;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../icons/tinypng/arrow-blue-left.png");
}

.button__arrow--left {
    width: 35px;
    height: 35px;
    position: absolute;
    cursor: pointer;
    margin-left: -70px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../icons/tinypng/arrow-blue-left.png");
}

.button__arrow--left--relative {
    width: 25px;
    height: 25px;
    position: relative;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../icons/tinypng/arrow-blue-left.png");
}