body {
    background-image: url("../../../images/tinypng/image-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* Both Flexbox */
.navbarTop,
.navbarLeft,
.navbarLeft__list,
.navbarLeft__list__container,
.navbarLeft__list__container__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Divisor */
.navbarLeft__list__divisor {
    width: 85%;
    height: 1px;
    border-radius: 10px;
    background-color: transparent;
}

.navbarLeft:hover .navbarLeft__list__divisor {
    background-color: rgba(192, 192, 192, 0.322);
}