.navbarLeft__list__container__dropdown {
    width: 100%;
    height: auto;
}

.navbarLeft__list__container__dropdown__item {
    padding: 6%;
    background-color: rgb(9, 10, 58);
}

.navbarLeft__list__container__dropdown__item:hover {
    background-color: rgb(28, 30, 171);
}

.navbarLeft__list__container__dropdown__item a {
    color: #ffffff;   
}