/* NavbarLeft */
.navbarLeft {
    width: 50px;
    height: 100%;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    cursor: pointer;
    justify-content: flex-start;
    -webkit-transition: 0.3s ease-in-out; // navegadores webkit, como Safari e Chrome
    -moz-transition: 0.3s ease-in-out; // Firefox
    -o-transition: 0.3s ease-in-out; // Opera   
}

/* NavbarLeft - Hover */
.navbarLeft:hover {
    width: 300px;
}

/* Searching */
.navbarLeft__search {
    width: 80%;
    height: 40px;
    margin-top: 100px;
    margin-bottom: 50px;
    border-radius: 30px;
    flex-direction: row;
    background-color: rgb(9, 10, 58);
}

/* Searching - Input */
.navbarLeft__search__input {
    width: 100%;
    outline: 0;
    border: 0;
    margin: 15px;
    color: rgb(128, 128, 128);
    background-color: transparent;
}

/* Searching - Icon */
.navbarLeft__search__icon {
    width: 20px;
    padding: 5px;
    margin: 5px;
    margin-left: -15px;
    margin-right: 15px;
}
 
/* NavbarLeft - List */
.navbarLeft__list {
    width: 100%;
    height: auto;
}

/* NavbarLeft - Item List */
.navbarLeft__list__container__item {
    width: 100%;
    height: auto;
    font-size: 1.4em;
    line-height: 18px;
    color: #ffffff;
    flex-direction: row;
    justify-content: space-between;
}
.navbarLeft__list__container__item:hover {
    background-color: rgb(28, 30, 171);
}

/* === NavbarLeft Items === */
/* Both */
.navbarLeft__list__container__item__icon__left {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
}
.navbarLeft:hover .navbarLeft__list__container__item__icon__left {
    width: 290px;
    height: 50px;
    margin-left: 5px;
}

/* Arrow */
.navbarLeft__list__container__item__icon__right {
    display: none;
    transform: 0deg;
    background-image: url("../../../icons/tinypng/arrow-white.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.navbarLeft:hover .navbarLeft__list__container__item__icon__right {
    display: block;
    width: 15px;
    height: 15px;
    margin-right: 15px;
}

/* === WMS === */
/* Item List NavbarLeft - Icon WMS */
.navbarLeft__list__container__item__icon__left--WMS {
    background-image: url("../../../icons/tinypng/icon-wms.png");
}
.navbarLeft:hover .navbarLeft__list__container__item__icon__left--WMS {
    background-image: url("../../../icons/tinypng/agv-wms.png");
}

/* === TMS === */
/* Item List NavbarLeft - Icon TMS */
.navbarLeft__list__container__item__icon__left--TMS {
    background-image: url("../../../icons/tinypng/icon-tms.png");
}
.navbarLeft:hover .navbarLeft__list__container__item__icon__left--TMS {
    background-image: url("../../../icons/tinypng/agv-tms.png");
}

/* === Broker === */
/* Item List NavbarLeft - Icon Broker */
.navbarLeft__list__container__item__icon__left--broker {
    background-image: url("../../../icons/tinypng/icon-broker.png");
}
.navbarLeft:hover .navbarLeft__list__container__item__icon__left--broker {
    background-image: url("../../../icons/tinypng/agv-broker.png");
}

/* === Customer === */
/* Item List NavbarLeft - Icon Customer */
.navbarLeft__list__container__item__icon__left--customer {
    background-image: url("../../../icons/tinypng/icon-customer.png");
}
.navbarLeft:hover .navbarLeft__list__container__item__icon__left--customer {
    background-image: url("../../../icons/tinypng/agv-customer.png");
}

/* === ERP === */
/* Item List NavbarLeft - Icon ERP */
.navbarLeft__list__container__item__icon__left--erp {
    background-image: url("../../../icons/tinypng/icon-erp.png");
}
.navbarLeft:hover .navbarLeft__list__container__item__icon__left--erp {
    background-image: url("../../../icons/tinypng/agv-erp.png");
}

/* === Supply === */
/* Item List NavbarLeft - Icon Supply */
.navbarLeft__list__container__item__icon__left--supply {
    background-image: url("../../../icons/tinypng/icon-supply.png");
}
.navbarLeft:hover .navbarLeft__list__container__item__icon__left--supply {
    background-image: url("../../../icons/tinypng/agv-suply.png");
}

/* === Solutions === */
/* Item List NavbarLeft - Icon Solutions */
.navbarLeft__list__container__item__icon__left--solutions {
    background-image: url("../../../icons/tinypng/icon-solutions.png");
}
.navbarLeft:hover .navbarLeft__list__container__item__icon__left--solutions {
    background-image: url("../../../icons/tinypng/agv-solutions.png");
}

/* === Dropdown === */
/* Dropdown - Items/Items */
.navbarLeft__list__container__dropdown {
    width: 100%;
    height: auto;
}

.navbarLeft__list__container__dropdown__item {
    padding: 6%;
    background-color: rgb(9, 10, 58);
}

.navbarLeft__list__container__dropdown__item:hover {
    background-color: rgb(28, 30, 171);
    font-weight: bold;
}

.navbarLeft__list__container__dropdown__item a {
    color: #ffffff;   
}

.navbarLeft__list__container__dropdown__item:hover a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}