@font-face {
    font-family: roboto-black;
    src: url('../../../fonts/roboto/roboto-black.ttf');
}

@font-face {
    font-family: roboto-light;
    src: url('../../../fonts/roboto/roboto-light.ttf');
}

h1 {
    font-family: roboto-black;
}

p,
a,
.input-default {
    font-family: roboto-light;
}